<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body a="{{ $.Site.Params.theme_config.appearance | default "auto" }}">
        <main class="page-content" aria-label="Content">
            <div class="w" {{ if eq .Params.pagefind false }}data-pagefind-ignore="all"{{ end }}>
                {{- block "main" . }}{{- end }}
            </div>
        </main>
        {{- partial "footer.html" }}
        {{- partial "google_analytics.html" -}}
        {{- partial "adsense.html" -}}
        {{- partial "yandex_metrika.html" -}}
        {{- partial "meta_pixel.html" -}}
        {{- partial "grafana_faro.html" -}}
    </body>
</html>
