<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body a="{{ $.Site.Params.theme_config.appearance | default "auto" }}">
        {{- partial "google_analytics.html" -}}
        {{- partial "yandex_metrika.html" -}}
        {{- partial "meta_pixel.html" -}}
        <main class="page-content" aria-label="Content">
            <div class="w">
                {{- block "main" . }}{{- end }}
            </div>
        </main>
        {{- partial "footer.html" }}
    </body>
</html>
