{{ define "main" }}
<header>
  <h1>{{ .Title }}</h1>
  {{ with .Params.lead }}
    <p>{{ . | safeHTML }}</p>
  {{ end }}
</header>

{{ .Content }}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Ivan Bogomolov",
  "jobTitle": "SWE",
  "url": "https://bogomolov.work",
  "email": "mailto:ivan.invoke@bogomolov.work",
  "description": "This is an archive of notes on infrastructure and code, failures and tradeoffs",
  "sameAs": [
    "https://t.me/irr123",
    "https://github.com/irr123",
    "https://www.linkedin.com/in/bogomolov-ivan/"
  ]
}
</script>

{{ end }}
