.w {
  padding: 0;
}
@media (max-width: 640px) {
  .w {
    padding: 0 8px;
  }
}
h1 {
  font-size: clamp(2.5rem, 5vw, 4.5rem);
  line-height: 1;
  position: relative;
  width: 80vw;
  max-width: 1280px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.site-footer {
  max-width: 640px;
  margin: 0 auto;
  text-align: right;
  padding-top: 8px;
}
figure {
  margin: 0;
}
ul {
  padding-left: 16px;
}
ol {
  padding-left: 32px;
}
@keyframes fadeIn1 {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.page-content {
  animation: fadeIn1 0.3s ease-out forwards;
}
@keyframes unrollFromTop {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
img,
picture,
iframe {
  transform-origin: top;
  animation: unrollFromTop 0.5s ease-out forwards;
}
