.w {
  padding: 0;
}
@media (max-width: 640px) {
  .w {
    padding: 0 8px;
  }
}
h1 {
  font-size: clamp(2.5rem, 5vw, 4.5rem);
  line-height: 1;
  position: relative;
  width: 80vw;
  max-width: 1280px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.site-footer {
  max-width: 640px;
  margin: 0 auto;
  text-align: right;
  padding-top: 8px;
}
figure {
  margin: 0;
}
ul {
  padding-left: 16px;
}
ol {
  padding-left: 32px;
}
a {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 0.75px;
  text-underline-offset: 0.2em;
  text-decoration-color: color-mix(in srgb, currentColor 30%, transparent);
}
a:hover {
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  text-decoration-color: currentColor;
}
@media (prefers-color-scheme: dark) {
  body[a="auto"] .pagefind-ui,
  body[a="auto"] .pagefind-ui--reset {
    --pagefind-ui-background: #000 !important;
    --pagefind-ui-text: #fff !important;
    --pagefind-ui-primary: #79a8ff !important;
    --pagefind-ui-border: #fff !important;
    --pagefind-ui-tag: color-mix(in srgb, #fff 12%, transparent) !important;
  }
}
@media (prefers-color-scheme: light) {
  body[a="auto"] .pagefind-ui,
  body[a="auto"] .pagefind-ui--reset {
    --pagefind-ui-background: #fff !important;
    --pagefind-ui-text: #000 !important;
    --pagefind-ui-primary: #3548cf !important;
    --pagefind-ui-border: #000 !important;
    --pagefind-ui-tag: color-mix(in srgb, #000 10%, transparent) !important;
  }
}
