{{ define "main" }}

<div class="post-meta">
  <p>{{ partial "back_link.html" .}}</p>
  <p>
    <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">
      {{ .Date | time.Format site.Params.theme_config.date_format }}
    </time>
  </p>
</div>

<header><h1>{{ .Title }}</h1></header>

{{ .Content }}

{{ if  .Site.Params.theme_config.isListGroupByDate  }}
    {{ range .Pages.GroupByDate "2006 Year" }}
    <p>{{ .Key }}</p>
    <ul>
        {{ range .Pages }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
    {{ end }}
{{ else }}
    {{ partial "post_list.html" (dict "context" . "section" .Section)}}
{{ end }}

{{ end }}
