html {
  height: 100%;
}
body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  font-display: swap;
  overflow-x: hidden;
  overflow-wrap: break-word;
}
#gameOfLifeCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
#content {
  position: relative;
  z-index: 1;
}
.video-header {
  position: relative;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white;
  text-align: center;
}
.video-header > h1 {
  position: relative;
  z-index: 1;
}
#headerVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}
